*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
   
    
}
.header{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.7)),url(./images/nepal.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 150px;
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}

.nav-links{
    flex: 1;
    text-align: right;
    

}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    

}

.nav-links a {
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    color: white;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 5em;
}

#direction{
    font-family: "Permanent Marker";
    color: rgb(243, 211, 104);
    font-size: 2em ;
}

.text-box h1{
    font-size: 2em;
}

.text-box .main-btn{
    border: 1px solid white;
    padding: 12px 34px;
    color: white;
    text-decoration: none;
    font-size: 16px;

    
    
}

.text-box .main-btn:hover{
    border: 1px solid rgb(243, 211, 104);
    background: rgb(243, 211, 104);
    transition: 1s;
}

@media(max-width:740px){
    .text-box h1{
        font-size: 1.5em;
    }
    .nav-links ul li{
        display: block;
    }

}